# ----------- GLOBAL -----------
.DS_Store
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig
*.lock

# ----------- PYTHON BACKEND -----------
__pycache__/
*.py[cod]
*.sqlite3
*.db
instance/
.env
venv/
.venv/
.env.local
config.json
.env.*
.envrc
.idea/
*.pem
*.key
*.crt

# Firebase / service keys (kritik)
serviceAccountKey.json
**/serviceAccountKey.json

# ----------- FLUTTER FRONTEND -----------
# Flutter build outputs
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.ios/
.android/
.macos/
.windows/
.linux/
web/
.idea/
.vscode/
*.iml
*.apk
*.aab

# Dart / pub files
pubspec.lock
coverage/
.dart_tool/

# Firebase / platform configs
google-services.json
GoogleService-Info.plist
firebase.json

# ----------- NODE / WEB UTILS (varsa) -----------
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# ----------- MISC -----------
# IDEs
*.code-workspace
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS / Backup
Thumbs.db
Desktop.ini
